{% extends "auctions/layout.html" %}

{% block body %}
    <style>
        .form-group {
            display: flex;
            flex-direction: column;
        }

        label {
            width: 150px; /* Adjust this width as needed */
            padding-right: 10px;
        }

        input[type="text"],
        input[type="email"],
        input[type="password"] {
            width: 100%; /* Expand to fill the remaining space */
        }
    </style>

    <h2>Register</h2>

    {% if form.errors %}
        <div class="alert alert-danger">
            {{ form.non_field_errors }}
        </div>
    {% endif %}

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.username.id_for_label }}">Username</label>
            {{ form.username }}
            {{ form.username.errors }}
        </div>
        <div class="form-group">
            <label for="{{ form.email.id_for_label }}">Email Address</label>
            {{ form.email }}
            {{ form.email.errors }}
        </div>
        <div class="form-group">
            <label for="{{ form.password1.id_for_label }}">Password</label>
            {{ form.password1 }}
            {{ form.password1.errors }}
        </div>
        <div class="form-group">
            <label for="{{ form.password2.id_for_label }}">Confirm Password</label>
            {{ form.password2 }}
            {{ form.password2.errors }}
        </div>
        <input class="btn btn-primary" type="submit" value="Register">
    </form>

    <p>Already have an account? <a href="{% url 'login' %}">Log In here.</a></p>
</style>
{% endblock %}
